.main{

	margin-top: 5%;
	height: 100%;
	display: flex; 
	justify-content: center;
	align-self: center;
}
@font-face {
  font-family: Acron;
  src: url(Images/Acrom-Regular.woff);
}

span{
	font-family: Acron;
	font-size: 2em;
}
.move {
	text-align: center;
	align-items: center;
	height: 10em; 
	width: 10em;
    position: absolute;
    animation: ;
	}


@keyframes left-right {
    0%       { transform: translatex(630%)  }
    100%     { transform: translateX(0%) }
}

@keyframes battle {
    0%       { transform: translatex(-301%)  }
    10%, 90% {
    transform: translatex(-351px);
  	}
  
  	20%, 80% {
    transform: translatex(-349px);
	}

  	30%, 50%, 70% {
    transform: translatex(-354px);
  	}

  	40%, 60% {
    transform: translatex(-348px);
  	}
  	100% {transform: translateX(-351px)}
}

@keyframes lose {
    0%       { transform: translatex(630%)  }
    100%     { transform: translateX(-630%) }
}

@keyframes win {
    0%       { transform: translatex(630%)  }
    25%		 {	transform: translateX(0%)   }
    100%	{ transform: translate(-190%,250%) }
}
@keyframes first-jump {
    0%       { transform: translatex(630%)  }
    25%		 {	transform: translateX(0%)   }
    100%	{ transform: translate(-190%,250%) }
}
}
