.main{
	margin-top: 5%;
	height: 100%;
	display: flex; 
	justify-content: center;
	align-self: center;
}
@font-face {
  font-family: Acron;
  src: url(Images/Acrom-Regular.woff);
}

span{
	font-family: Acron;
	font-size: 2em;
}
.move {
	text-align: center;
	align-items: center;
	height: 10em; 
	width: 10em;
    position: absolute;
    animation: ;
	}


@keyframes left-right {
    0%       { transform: translatex(630%)  }
    100%     { transform: translateX(0%) }
}

@keyframes lose {
    0%       { transform: translate(-590%,-250%)  }
    50%       { transform: translate(0%,30%)  }
    100%     { transform: translate(400%,450%) }
}

@keyframes win {
    0%       { transform: translate(-590%,-250%)  }
    50%,75%      { transform: translate(0%,30%)  }
    100%     { transform: translate(400%,450%) }
}
@keyframes first-jump {
    0%       { transform: translatex(630%)  }
    100%	{  transform:translate(0%,30%);   } }
}
}
